*{
    font-family: "lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #080516;
}

body{
    background-color: #080516;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #031436;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

section{
    
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    background-color: #080516;
}

header img{
    font-size: 2rem;

}

header .nav form{
        width: auto;
    }   


header .nav {
     display: flex;
    align-items: center;
    justify-content: space-between;

}
header .nav input{
    padding: 10px;
    width: 20vw;
    height: 4vh;
    border-radius: 2px;
    font-size: 1.5rem;
}

h5{
    font-size: 2rem !important;
    color: #7579E7;
}
p{
    font-size: 1.25rem !important;
    color: #C9E4F0;
}
.card{
    background-color: transparent !important;
}
header .nav .btn{
    color: #7579E7;
    padding: 10px;
    font-size: 2rem;

}




header .input{
    display:none;
}

header label{
    font-size: 3rem;
    color: #7579E7;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}


@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width:768px){
    header label{
    visibility: visible;
    opacity: 1;
    }
    header .nav {
     display: flex;
    align-items: center;
    justify-content: center;

}


    header .nav{
        background: #031436;
        width: 100%;
        position: absolute;
        TOP: 100%;
        left: 0;
        padding: 1rem 2rem;
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }   

    header .nav input{
    margin: 0px 70px 20px 70px;
    padding: 10px;
    width: 80vw;
    height: 5vh;
    border-radius: 2px;
    font-size: 1.5rem;
    }
    header .nav .btn{
    margin: 0px 70px 20px 70px;
    padding: 10px;
    width: 80vw;
    height: 5vh;
    border-radius: 2px;
    font-size: 1.5rem;
    background-color: #7579E7;
    color: #C9E4F0;
    }

    header input:checked ~ .nav{
        transform: scaleY(1);
        opacity: 1;
    }
}




/* Bootstrap classes editing */

.g-3, .gy-3 {
    --bs-gutter-y: 0rem !important;
}

img{
    max-height: 17vh;
    max-width: auto;
}

a{
    text-decoration: none !important;
}