*{
    font-family: "lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    color: #C9E4F0;
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: #080516;
}

section{
    
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: #080516;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    padding: 9% 9%;

}

.container{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-flow: column;

}

.btnc{
    margin-top: 30px;
    display:flex;
    align-items: center;
    justify-content:center;
}

.decline{
    width: 15vw;
    height: 4vh;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    color: rgb(255, 0, 64);
    border: 1px rgb(255, 0, 64) solid;
}

.accept{
    width: 15vw;
    height: 4vh;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #7579E7;
    color: #C9E4F0;
}

.responsive-youtube{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.responsive-youtube iframe{
    left:0; 
    top:0; 
    height:100%; 
    width:100%; 
    position:absolute;
}

.video-box {
    /* height: 20vh;
  width: 70vw; */
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}

.video-box iframe {
  /* height: 50REM;
  width: 85rem;
  margin-right: 10%; */
  left:0;
  top:0; 
  height:100%; 
  width:100%; 
  position:absolute;
}

.video{
    width: 50vw;
    
}

.vid{
    
    padding: 10px;
    margin: 10px;
}

.vid p{
    font-size: 1.5rem;
    
    

}

.pic img{
    margin: 40px;
    width: 25vw;
    height: 40vw;
    height: auto;
    color: #C9E4F0;
}


.infos{
    width: 90vw;
    display:flex;
    align-items: center;
    justify-content: space-around;   
}

@media (max-width:980px){
    .video{
    width: 55vw;
    height: auto;
    
}
    .infos{
    flex-flow: column;  
}
.pic img{
    margin: 40px;
    width: 50vw;
    height: auto;
    color: #C9E4F0;
}
}

@media (max-width:750px){
    .video{
    width: 70vw;
    
}
    .decline{
    width: 27.5vw;
    height: 4vh;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    color: rgb(255, 0, 64);
    border: 1px rgb(255, 0, 64) solid;
}

.accept{
    width: 27.5vw;
    height: 4vh;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #7579E7;
    color: #C9E4F0;
}
    

img{
    margin: 0px;
    max-width: auto;
    max-height: 10vh;
    color: #C9E4F0;
}
}

img{
    max-height: 23vh;
    max-width: 23vw;
}