*{
    font-family: "lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: #080516;
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #031436;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.heading{
    
    text-align: center;
    color: #7579E7;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 5rem;
    padding: 1rem;
}

header img{
    font-size: 2rem;

}


header nav a{
    FONT-SIZE: 1.7rem;
    margin-left: 2rem;
    color: #C9E4F0;
} 

header input{
    display:none;
}

header label{
    font-size: 3rem;
    color: #7579E7;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.home{
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: #080516;
    background-size: cover;
    background-position: center;
}

.intro{
    background-color: #080516;
    background-size: cover;
    background-position: center;
}

.home .image img{
    width: 30vw;
}

.home .content h3{
    font-size: 5rem;
    color: #7579E7;
}

.home .content p{
    font-size: 2rem;
    color: #C9E4F0;
}

.intro .image img{
    width: 30vw;
}

.intro .content h3{
    font-size: 3.5rem;
    color: #7579E7;
}

.intro .content p{
    font-size: 1.7rem;
    color: #C9E4F0;
}
.intro1 .image img{
    width: 30vw;
}

.intro1 .content h3{
    font-size: 3.5rem;
    color: #7579E7;
}

.intro1 .content p{
    font-size: 1.7rem;
    color: #C9E4F0;
}

.btn{
    
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 1.5rem 4rem;
    border-radius: 2px;
    background-color: #7579E7;
    font-size: 1.7rem;
    color: #C9E4F0;
    cursor: pointer;
}

.us .box-container{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.intro .container{
    margin-top: 10rem;
    display: flex;
    
}

.intro .container .student{
    margin-right: 5rem; 
}

.intro .container .teacher{
    margin-left: 5rem; 
}

header nav .cbtn{
    border: solid 1px #7579E7;
    padding: 1.6rem;
    border-radius: 2px;
    color: #7579E7;
}

.intro .container { 
    margin-top: 10rem;
}

.intro1 .container{
    margin-top: 100rem;
    display: flex;
}

.intro1 .container .student{
    margin-right: 5rem; 
}

.intro1 .container .teacher{
    margin-left: 5rem; 
}

.intro1 .container { 
    margin-top: 5rem;
}

.us .box-container .box{

    flex: 1 1 30rem;
    background:transparent;
    border: none;
    margin: 1.5rem;
    padding: 3rem 2rem 2rem;
    text-align: center;
}
.us .box-container .box h3{
    padding: 3rem;
    font-size: 3.5rem;
    color: #7579E7;
}
.us .box-container .box p{
    padding-bottom: 3rem;
    font-size: 1.7rem;
    color: #C9E4F0;
}
.us .box-container .box img{
    padding-top: 3rem;
    width: 17.5rem;
}

@media (max-width:1200px){
    html{
        font-size: 50%;
    }
}

@media (max-width:991px){
    section{
    padding: 0 9%;
    padding-top: 7.5rem;
    }
    .home .image img{
    width: 40vw;
    }

    .intro .image img{
        margin: 5rem;
    width: 40vw;
    }
    .intro1 .image img{
        margin: 5rem;
    width: 40vw;
    }
}

@media (max-width:768px){
    header label{
    visibility: visible;
    opacity: 1;
    }


    header nav{
    background: #031436;
    width: 100%;
    position: absolute;
    TOP: 100%;
    left: 0;
    padding: 1rem 2rem;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    }   

    header nav a{
    display: block;
    margin : 2rem 0;
    font-size: 2rem;
    } 

    header input:checked ~ nav{
        transform: scaleY(1);
        opacity: 1;
    }
    .home{
        flex-flow: column-reverse;
    }
    .intro .container{
        flex-flow: column;
    }
    .intro1 .container{
        flex-flow: column-reverse;
    }
    .home .image img{
        margin-bottom: 30px;
        width: 55vw;
    }
    .home .content h3{
    font-size: 3rem;
    }
    .home .content p{
    font-size: 1.5rem;
    }
}
